.loginTitle {
	font-size: 5em;
	letter-spacing: 10px;
	line-height: 150%;
	text-shadow:
		3px 3px 0 #034,
		-3px -3px 0 #034,  
		3px -3px 0 #034,
		-3px 3px 0 #034,
		3px 3px 0 #034;
}

.login_marginTop {
	margin-top: 50px;
}

.loginButton {
	background-image: url('/img/googlesignin.png');
	width: 400px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
       background-color: transparent;
       border:0;
}