/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}